// Authentication for user sb-ng_rw
registry = http://pdtinteg.ptx.fr.sopra/artifactory/api/npm/npm.sb-ng
_auth = c2Itbmdfcnc6QVA2WHR6eXZZVFNpWXEyQ3JYU2IzelV1VVVp
email = raul.silva@soprabanking.com
always-auth = true